In [38]:
import json, csv, string, datetime, re
from dateutil.parser import parse
import pandas as pd
import numpy as np

from nltk.tokenize import TweetTokenizer
from nltk.stem.snowball import SnowballStemmer 
from nltk.corpus import stopwords

### Lendo e Visualizando os dados

In [39]:
data = pd.read_json('DATASET.json', lines = True)
data.head()

,data,geo,id,nome,text
0,Sun May 06 20:41:33 +0000 2018,"[19.59433331, -155.97172783]",2.379071e+09,tiedyehobo,"majic sands beach, kona hawaiiawesome tunes by..."
1,Sun May 06 20:33:41 +0000 2018,"[19.56034, -154.9866]",2.929292e+07,queeraspoetry,Good am! ðŸ¤™ðŸŒ‹ @ Center for Spiritual Living in H...
2,Sun May 06 20:30:04 +0000 2018,"[19.0781667, -155.1876667]",8.149151e+17,Hazards_Network,Monday-January-2018::15:14: An earthquake of m...
3,Sun May 06 20:09:43 +0000 2018,"[20.02027778, -155.66777778]",4.142280e+08,NaomiCooper808,"#vacay #Ladat @ Waimea, Hawaii County, Hawai"
4,Sun May 06 19:46:08 +0000 2018,"[19.65, -155.994]",2.011251e+07,vioart527,"Last sunset in Hawaii . . . until next time,"

In [40]:
def remove_numbers(text):
    return re.sub(r'\d+', '', text)

def remove_dots(text):
    return  re.compile(
        f'[{re.escape(string.punctuation)}]'
    ).sub(' ', text)

def remove_stopwords(text):
    stemmer = SnowballStemmer("english")
    make    = TweetTokenizer()
    tokens  = make.tokenize( remove_dots( remove_numbers(text) ) )
    return [w.lower() for w in tokens if not w in set(stopwords.words('english'))]

### Formatando datas

In [41]:
def parse_datetime(value):
    time_tuple = parsedate_tz(value)
    timestamp  = mktime_tz(time_tuple)
    return datetime.datetime.fromtimestamp(timestamp)

times = {
    "data": [],
    "time": [],
    "lat":  [], 
    "long": [] 
}

for x, k in zip(data['data'].apply(parse), data['geo']):
    time_out = str(x).split(" ")
    geo_out  = k.replace("[","").replace("]","").split(',')
    times["data"].append(time_out[0])
    times["time"].append(str(time_out[1]).replace("+00:00",""))
    times["lat"].append(geo_out[0])
    times["long"].append(geo_out[1])
    
#AtualizaÃ§Ãµes no dataframe
data['data'] = pd.Series(times['data'])
data['time'] = pd.Series(times['time'])
data['lat']  = pd.Series(times['lat'])
data['long'] = pd.Series(times['long'])
data.pop('geo')
data.columns = ['date', 'id_str', 'user_name', 'text', 'time', 'latitude', 'longitude']

### Aplicando filtro no campo text

In [42]:
for k, x in enumerate(data['text']):
    data.loc[k,'text'] = str(" ".join(remove_stopwords(x)))

### Salvando em csv

In [43]:
data.to_csv("DATASET.csv",  index = None)

###  Depois do processo

In [28]:
data.head()

,date,id_str,user_name,text,time,latitude,longitude
0,2018-05-06,2.379071e+09,tiedyehobo,majic sands beach kona hawaiiawesome tunes car...,20:41:33,19.59433331,-155.97172783
1,2018-05-06,2.929292e+07,queeraspoetry,good ðŸ¤™ ðŸŒ‹ center spiritual living hawai,20:33:41,19.56034,-154.9866
2,2018-05-06,8.149151e+17,Hazards_Network,monday january an earthquake magnitude shook k...,20:30:04,19.0781667,-155.1876667
3,2018-05-06,4.142280e+08,NaomiCooper808,vacay ladat waimea hawaii county hawai,20:09:43,20.02027778,-155.66777778
4,2018-05-06,2.011251e+07,vioart527,last sunset hawaii next time,19:46:08,19.65,-155.994