In [133]:
import json, csv, string, re, emoji
import pandas as pd
import numpy  as np

from nltk.tokenize import TweetTokenizer
from nltk.stem.snowball import SnowballStemmer
from nltk.corpus import stopwords

In [134]:
data = pd.read_csv('DATASET.csv')

### Removendo linhas com valores Nans

In [135]:
data.dropna(inplace = True)

In [136]:
def normalize_words():
    arq = open('disasters_words.txt').readlines()
    text = " ".join(arq).replace(',',' ').lower().split(' ')
    return sorted(set([x for x in text if len(x) > 1]))

In [137]:
words = normalize_words()
len(words)

268

### Normalizando texto e verificando interesse do texto

In [138]:
#Tamanho médio das palavras em inglês https://arxiv.org/pdf/1208.6109.pdf
#Cria uma dataSerie para ser adicionado ao dataFrame
a = []    
def normalize_text():
    
    data['interest'] = 0
    
    for index in data.index:
        text = data['text'][index]
        result = pd.Index(str(text).split()).intersection(pd.Index(words)) 
        
        if len(result) != 0:
            a.append(result[0])
            data.loc[index, 'interest'] = 1
normalize_text()

In [139]:
#Do dicionário, essas são as palavras que retornaram!
result = {}
for x in sorted(a):
    qtd = len(data[data['text'].str.contains(x)])
    result.update({x: qtd})

In [140]:
result

{'active': 7,
 'afraid': 1,
 'aid': 13,
 'assistance': 1,
 'bench': 1,
 'bigisland': 80,
 'broken': 1,
 'condo': 1,
 'crater': 12,
 'crowd': 1,
 'danger': 2,
 'death': 5,
 'destroyed': 6,
 'direction': 1,
 'earthquake': 1677,
 'emergency': 8,
 'erupting': 10,
 'eruption': 16,
 'evacuation': 2,
 'evacuee': 3,
 'fire': 19,
 'heavy': 2,
 'help': 11,
 'kilauea': 43,
 'lava': 76,
 'leadership': 1,
 'leave': 12,
 'leilani': 675,
 'lost': 1,
 'lua': 223,
 'magnitude': 1399,
 'meal': 4,
 'path': 2,
 'pele': 25,
 'prayers': 2,
 'road': 29,
 'safe': 16,
 'safety': 2,
 'scared': 1,
 'service': 80,
 'shelter': 2,
 'sismo': 293,
 'situation': 3,
 'smashed': 1,
 'smoke': 3,
 'store': 46,
 'support': 3,
 'survive': 3,
 'temblor': 7,
 'terremoto': 258,
 'volcanic': 2,
 'volcano': 686,
 'volcanoes': 21,
 'volcanowatch': 6,
 'vulcanoes': 6,
 'vulcão': 1}

### Removendo linhas nulas

In [141]:
data = data[data['interest'] == 1]
data.head()

,date,id_str,user_name,text,time,latitude,longitude,interest
2,2018-05-06,8.149151e+17,Hazards_Network,monday january an earthquake magnitude shook k...,20:30:04,19.078167,-155.187667,1
6,2018-05-06,1.864570e+07,syvideo,adventures covering lava flow hilo hi leilani ...,18:18:05,19.473500,-154.920000,1
9,2018-05-06,1.714726e+09,itsnotben,hawaii round hours airplane earthquakes volcan...,17:38:12,19.431649,-155.216870,1
10,2018-05-06,2.918153e+09,eq_map_es,【 m 】 isla de hawaii hawaii km utc sismo terre...,13:30:49,19.046000,-155.173000,1
14,2018-05-06,8.149151e+17,Hazards_Network,monday january an earthquake magnitude shook k...,08:20:04,19.371334,-155.033829,1

In [142]:
data.to_csv("DATASET_interests.csv",  index = None)