In [133]:
import json, csv, string, datetime
from dateutil.parser import parse
import pandas as pd
import numpy as np

In [134]:
data = pd.read_csv('DATASET_interests.csv', encoding = 'UTF-8')
data.head()

,date,id_str,user_name,text,time,latitude,longitude,interest
0,2018-05-06,8.149151e+17,Hazards_Network,monday january an earthquake magnitude shook k...,20:30:04,19.078167,-155.187667,1
1,2018-05-06,1.864570e+07,syvideo,adventures covering lava flow hilo hi leilani ...,18:18:05,19.473500,-154.920000,1
2,2018-05-06,1.714726e+09,itsnotben,hawaii round hours airplane earthquakes volcan...,17:38:12,19.431649,-155.216870,1
3,2018-05-06,2.918153e+09,eq_map_es,【 m 】 isla de hawaii hawaii km utc sismo terre...,13:30:49,19.046000,-155.173000,1
4,2018-05-06,8.149151e+17,Hazards_Network,monday january an earthquake magnitude shook k...,08:20:04,19.371334,-155.033829,1

### Verificando text duplicados

In [135]:
spams = data[ data['text'].duplicated(keep = False) ]

### Nomes de usuários dos text duplicados e Salvando nomes em disco

In [136]:
names = set(spams['user_name'])
out = open('names_bots.txt', 'w')
for x in names:
    out.write(x + ',')
out.close()

names

{'AprilLButcher',
 'Astro_Herv',
 'BigEarthquakes',
 'CaraMel_HI',
 'ChiokeMusic',
 'HappyMonkey604',
 'Hazards_Network',
 'Joechris1988',
 'LastQuake',
 'MichaelVergona',
 'NewEarthquake',
 'OhanaSuh1',
 'PattyKWilliams',
 'Quake_Tracker4',
 'QuakesToday',
 'RasSparrow',
 'RobertJohnCook',
 'Travelmonkie',
 'TrevorHughes',
 'USGSBigQuakes',
 'USGSted',
 'Verticalviking',
 'WanderTheMap',
 'WordsOfVikram',
 'chowbabylovin',
 'clarklittle',
 'disasteraware',
 'earthquakeBot',
 'earthshook',
 'educaciondecr',
 'eq_map_es',
 'eq_map_es2',
 'espejomx',
 'evee',
 'glemaud',
 'henrymortega1',
 'infogempa',
 'itsnotben',
 'jaynedmc',
 'paparacchi',
 'queeraspoetry',
 'ralphmalani',
 'selphie6999',
 'senseividal',
 'sstnblcstlns',
 'sunflwer1975',
 'syvideo',
 'tiedyehobo',
 'tmj_mau_cosmo',
 'tmj_mau_retail'}

### Removendo dados duplicados a partir dos nomes de usuários

In [137]:
for user_name in set(spams['user_name']):
    data.drop(data[data['user_name'] == user_name].index, inplace = True)

### Removendo na mão

In [138]:
data = data[~ data['user_name'].str.contains("tmj")]
data = data[~ data['user_name'].str.contains("eq_map")]
data = data[~ data['user_name'].str.contains("HiloHawaii_")]
data = data[~ data['user_name'].str.contains("5oclockbot")]

In [139]:
data.to_csv("DATASET_final.csv",  index = None)